In [177]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key

In [178]:
c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

#census_data

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population_2017",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#Final DataFrame
census_pd = census_pd[["Zipcode","Population_2017"]]

print(len(census_pd))

#census_pd.sort_values("Zipcode")

#converting object to float
census_pd["Zipcode"] = census_pd.Zipcode.astype(float)

census_pd.dtypes

133

Zipcode            float64
Population_2017    float64
dtype: object

In [179]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]

group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]

census_pd["Cities_by_Zipcodes"] = pd.cut(census_pd["Zipcode"], bins, labels = group_names)

#census_pd

In [180]:
grouped = census_pd.groupby(["Cities_by_Zipcodes"])
pop2017 = grouped.sum()
pop2017.sort_values("Population_2017", ascending=False)
pop2017.head()

                      Zipcode  Population_2017
Cities_by_Zipcodes
Houston             7396948.0        3124010.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          12397.0
Hufsmith                  0.0              0.0

In [181]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2017.to_csv("census_data_2017.csv", columns=["Population_2017"], encoding="utf-8", index=True)

In [182]:
#2016 population
c2016 = Census(api_key, year=2016)
census_data_2016 = c2016.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

#census_data_2016

# Convert to DataFrame
census_pd6 = pd.DataFrame(census_data_2016)

# Column Reordering
census_pd6 = census_pd6.rename(columns={"B01003_001E": "Population_2016",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#Final DataFrame
census_pd6 = census_pd6[["Zipcode","Population_2016"]]

print(len(census_pd6))

#census_pd6
#census_pd6.sort_values("Zipcode")

#converting object to float
census_pd6["Zipcode"] = census_pd6.Zipcode.astype(float)
census_pd6.dtypes

133

Zipcode            float64
Population_2016    float64
dtype: object

In [183]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]

group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]

census_pd6["Cities_by_Zipcodes"] = pd.cut(census_pd6["Zipcode"], bins, labels = group_names)

#census_pd6

grouped6 = census_pd6.groupby(["Cities_by_Zipcodes"])
pop2016 = grouped6.sum()
pop2016.sort_values("Population_2016", ascending=False)
pop2016.head()

                      Zipcode  Population_2016
Cities_by_Zipcodes
Houston             7396948.0        3073737.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          11806.0
Hufsmith                  0.0              0.0

In [184]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2016.to_csv("census_data_2016.csv", columns=["Population_2016"], encoding="utf-8", index=True)

In [185]:
#2015 population
c2015 = Census(api_key, year=2015)
census_data_2015 = c2015.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

#census_data_2015

# Convert to DataFrame
census_pd5 = pd.DataFrame(census_data_2015)

# Column Reordering
census_pd5 = census_pd5.rename(columns={"B01003_001E": "Population_2015",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#Final DataFrame
census_pd5 = census_pd5[["Zipcode","Population_2015"]]

print(len(census_pd5))

#census_pd5
#census_pd5.sort_values("Zipcode")

#converting object to float
census_pd5["Zipcode"] = census_pd2.Zipcode.astype(float)
census_pd5.dtypes

133

Zipcode            float64
Population_2015    float64
dtype: object

In [186]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]

group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]

census_pd5["Cities_by_Zipcodes"] = pd.cut(census_pd5["Zipcode"], bins, labels = group_names)

#census_pd5

grouped5 = census_pd5.groupby(["Cities_by_Zipcodes"])
pop2015 = grouped5.sum()
pop2015.sort_values("Population_2015", ascending=False)
pop2015.head()

                      Zipcode  Population_2015
Cities_by_Zipcodes
Houston             7396948.0        3411853.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          26013.0
Hufsmith                  0.0              0.0

In [187]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2015.to_csv("census_data_2015.csv", columns=["Population_2015"], encoding="utf-8", index=True)

In [188]:
#2014 population
c2014 = Census(api_key, year=2014)
census_data_2014 = c2014.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

#census_data_2014

# Convert to DataFrame
census_pd4 = pd.DataFrame(census_data_2014)

# Column Reordering
census_pd4 = census_pd4.rename(columns={"B01003_001E": "Population_2014",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#Final DataFrame
census_pd4 = census_pd4[["Zipcode","Population_2014"]]

print(len(census_pd4))

#census_pd4
#census_pd4.sort_values("Zipcode")

#converting object to float
census_pd4["Zipcode"] = census_pd4.Zipcode.astype(float)
census_pd4.dtypes

133

Zipcode            float64
Population_2014    float64
dtype: object

In [189]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]

group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]

census_pd4["Cities_by_Zipcodes"] = pd.cut(census_pd1["Zipcode"], bins, labels = group_names)

#census_pd1

grouped4 = census_pd4.groupby(["Cities_by_Zipcodes"])
pop2014 = grouped4.sum()
pop2014.sort_values("Population_2014", ascending=False)
pop2014.head()

                      Zipcode  Population_2014
Cities_by_Zipcodes
Houston             7401900.0        2924412.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77089.0          51939.0
Hufsmith                  0.0              0.0

In [190]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2014.to_csv("census_data_2014.csv", columns=["Population_2014"], encoding="utf-8", index=True)

In [191]:
#2013 population
c2013 = Census(api_key, year=2013)
census_data_2013 = c2013.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

#census_data_2013

# Convert to DataFrame
census_pd3 = pd.DataFrame(census_data_2013)

# Column Reordering
census_pd3 = census_pd3.rename(columns={"B01003_001E": "Population_2013",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#Final DataFrame
census_pd3 = census_pd3[["Zipcode","Population_2013"]]

print(len(census_pd3))

#census_pd3
#census_pd3.sort_values("Zipcode")

#converting object to float
census_pd3["Zipcode"] = census_pd3.Zipcode.astype(float)
census_pd3.dtypes

133

Zipcode            float64
Population_2013    float64
dtype: object

In [192]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]

group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]

census_pd3["Cities_by_Zipcodes"] = pd.cut(census_pd3["Zipcode"], bins, labels = group_names)

#census_pd1

grouped3 = census_pd3.groupby(["Cities_by_Zipcodes"])
pop2013 = grouped3.sum()
pop2013.sort_values("Population_2013", ascending=False)
pop2013.head()

                      Zipcode  Population_2013
Cities_by_Zipcodes
Houston             7396948.0        2930055.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          12022.0
Hufsmith                  0.0              0.0

In [193]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2013.to_csv("census_data_2013.csv", columns=["Population_2013"], encoding="utf-8", index=True)

In [194]:
#2012 population
c2012 = Census(api_key, year=2012)
census_data_2012 = c2012.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

#census_data_2012

# Convert to DataFrame
census_pd2 = pd.DataFrame(census_data_2012)

# Column Reordering
census_pd2 = census_pd2.rename(columns={"B01003_001E": "Population_2012",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#Final DataFrame
census_pd2 = census_pd2[["Zipcode","Population_2012"]]

print(len(census_pd2))

#census_pd2
#census_pd2.sort_values("Zipcode")

#converting object to float
census_pd2["Zipcode"] = census_pd2.Zipcode.astype(float)
census_pd2.dtypes

133

Zipcode            float64
Population_2012    float64
dtype: object

In [195]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]

group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]

census_pd2["Cities_by_Zipcodes"] = pd.cut(census_pd2["Zipcode"], bins, labels = group_names)

#census_pd2

grouped2 = census_pd2.groupby(["Cities_by_Zipcodes"])
pop2012 = grouped2.sum()
pop2012.sort_values("Population_2012", ascending=False)
pop2012.head()

                      Zipcode  Population_2012
Cities_by_Zipcodes
Houston             7396948.0        2883057.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          12116.0
Hufsmith                  0.0              0.0

In [196]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2012.to_csv("census_data_2012.csv", columns=["Population_2012"], encoding="utf-8", index=True)

In [202]:
#2011 population
c2011 = Census(api_key, year=2011)
census_data_2011 = c2011.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

#census_data_2011

# Convert to DataFrame
census_pd1 = pd.DataFrame(census_data_2011)

# Column Reordering
census_pd1 = census_pd1.rename(columns={"B01003_001E": "Population_2011",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#Final DataFrame
census_pd1 = census_pd1[["Zipcode","Population_2011"]]

print(len(census_pd1))

#census_pd1
#census_pd1.sort_values("Zipcode")

#converting object to float
census_pd1["Zipcode"] = census_pd1.Zipcode.astype(float)
census_pd1.dtypes

133

Zipcode            float64
Population_2011    float64
dtype: object

In [203]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]

group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]

census_pd1["Cities_by_Zipcodes"] = pd.cut(census_pd1["Zipcode"], bins, labels = group_names)

#census_pd1

grouped1 = census_pd1.groupby(["Cities_by_Zipcodes"])
pop2011 = grouped1.sum()
pop2011.sort_values("Population_2011", ascending=False)
pop2011.head()

                      Zipcode  Population_2011
Cities_by_Zipcodes
Houston             7396948.0        2842163.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          12345.0
Hufsmith                  0.0              0.0

In [204]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2011.to_csv("census_data_2011.csv", columns=["Population_2011"], encoding="utf-8", index=True)