In [11]:
import requests
import json
from config import api_key_census
import census
from census import Census
import pandas as pd
import matplotlib.pyplot as plt
import us
from us import states

In [12]:
# Monthly housing cost for year 2017
c_cost_2017 = Census(api_key_census, year=2017)
census_cost_2017 = c_cost_2017.acs5.get(("NAME","B25104_016E","B25104_015E","B25104_014E","B25104_013E","B25104_012E","B25104_011E","B25104_010E","B25104_009E","B25104_008E","B25104_007E","B25104_006E","B25104_005E","B25104_004E","B25104_003E","B25104_002E"), {'for': 'zip code tabulation area: 77484,77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})

In [13]:
# Convert to DataFrame
census_cost_2017 = pd.DataFrame(census_cost_2017)

# Column Reordering
census_cost_2017 = census_cost_2017.rename(columns={"B25104_002E": "Cost less than $100",
                                                    "B25104_016E": "Cost from $3k and more",
                                                    "B25104_015E": "Cost from $2.5k to $2.999k",
                                                    "B25104_014E": "Cost from $2k to $2.499",
                                                    "B25104_013E": "Cost from $1.5k to 1.999k",
                                                    "B25104_012E": "Cost from $1k to $1.499k",
                                                    "B25104_011E": "Cost from $900 to $999",
                                                    "B25104_010E": "Cost from $800 to $899",
                                                    "B25104_009E": "Cost from $700 to $799",
                                                    "B25104_008E": "Cost from $600 to $699",
                                                    "B25104_007E": "Cost from $500 to $599",
                                                    "B25104_006E": "Cost from $400 to $499",
                                                    "B25104_005E": "Cost from $300 to $399",
                                                    "B25104_003E": "Cost from $100 to $199",
                                                    "B25104_004E": "Cost from $200 to $299",
                                                    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_cost_2017 = census_cost_2017[["Zipcode",
                                     "Cost less than $100",
                                     "Cost from $100 to $199",
                                     "Cost from $200 to $299",
                                     "Cost from $300 to $399",
                                     "Cost from $400 to $499",
                                     "Cost from $500 to $599",
                                     "Cost from $600 to $699",
                                     "Cost from $700 to $799",
                                     "Cost from $800 to $899",
                                     "Cost from $900 to $999",
                                     "Cost from $1k to $1.499k",
                                     "Cost from $1.5k to 1.999k",
                                     "Cost from $2k to $2.499",
                                     "Cost from $2.5k to $2.999k",
                                     "Cost from $3k and more"]]

# Visualize
print(len(census_cost_2017))

# Save to csv
census_cost_2017.to_csv('C:\workspace\Resources\HH_Cost2017_NN.csv',index=False)

census_cost_2017

133

,Zipcode,Cost less than $100,Cost from $100 to $199,Cost from $200 to $299,Cost from $300 to $399,Cost from $400 to $499,Cost from $500 to $599,Cost from $600 to $699,Cost from $700 to $799,Cost from $800 to $899,Cost from $900 to $999,Cost from $1k to $1.499k,Cost from $1.5k to 1.999k,Cost from $2k to $2.499,Cost from $2.5k to $2.999k,Cost from $3k and more
0,77003,23.0,81.0,141.0,181.0,394.0,324.0,127.0,161.0,149.0,190.0,908.0,751.0,660.0,185.0,165.0
1,77375,63.0,168.0,218.0,363.0,637.0,468.0,531.0,793.0,1048.0,892.0,4932.0,3120.0,1391.0,615.0,707.0
2,77002,0.0,0.0,34.0,121.0,189.0,74.0,145.0,152.0,38.0,80.0,923.0,812.0,340.0,134.0,163.0
3,77091,29.0,275.0,459.0,669.0,607.0,921.0,999.0,1363.0,1058.0,895.0,1659.0,329.0,174.0,61.0,8.0
4,77024,16.0,29.0,44.0,80.0,143.0,348.0,369.0,231.0,422.0,563.0,2821.0,2320.0,1445.0,1533.0,4676.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,77089,17.0,120.0,392.0,577.0,773.0,581.0,903.0,1221.0,1147.0,1209.0,5371.0,3487.0,488.0,210.0,214.0
129,77033,99.0,543.0,1306.0,1260.0,578.0,458.0,572.0,421.0,668.0,734.0,1932.0,143.0,35.0,9.0,0.0
130,77064,13.0,106.0,232.0,293.0,628.0,832.0,724.0,716.0,829.0,1260.0,6726.0,2683.0,877.0,112.0,72.0
131,77099,30.0,55.0,617.0,576.0,677.0,1035.0,1561.0,1800.0,2169.0,2376.0,4464.0,1036.0,150.0,38.0,0.0
132,77201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Monthly housing cost for year 2016
c_cost_2016 = Census(api_key_census, year=2016)
census_cost_2016 = c_cost_2016.acs5.get(("NAME","B25104_016E","B25104_015E","B25104_014E","B25104_013E","B25104_012E","B25104_011E","B25104_010E","B25104_009E","B25104_008E","B25104_007E","B25104_006E","B25104_005E","B25104_004E","B25104_003E","B25104_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
# Convert to DataFrame
census_cost_2016 = pd.DataFrame(census_cost_2016)

# Column Reordering
census_cost_2016 = census_cost_2016.rename(columns={"B25104_002E": "Cost less than $100",
                                                    "B25104_016E": "Cost from $3k and more",
                                                    "B25104_015E": "Cost from $2.5k to $2.999k",
                                                    "B25104_014E": "Cost from $2k to $2.499",
                                                    "B25104_013E": "Cost from $1.5k to 1.999k",
                                                    "B25104_012E": "Cost from $1k to $1.499k",
                                                    "B25104_011E": "Cost from $900 to $999",
                                                    "B25104_010E": "Cost from $800 to $899",
                                                    "B25104_009E": "Cost from $700 to $799",
                                                    "B25104_008E": "Cost from $600 to $699",
                                                    "B25104_007E": "Cost from $500 to $599",
                                                    "B25104_006E": "Cost from $400 to $499",
                                                    "B25104_005E": "Cost from $300 to $399",
                                                    "B25104_003E": "Cost from $100 to $199",
                                                    "B25104_004E": "Cost from $200 to $299",
                                                    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_cost_2016 = census_cost_2016[["Zipcode",
                                     "Cost less than $100",
                                     "Cost from $100 to $199",
                                     "Cost from $200 to $299",
                                     "Cost from $300 to $399",
                                     "Cost from $400 to $499",
                                     "Cost from $500 to $599",
                                     "Cost from $600 to $699",
                                     "Cost from $700 to $799",
                                     "Cost from $800 to $899",
                                     "Cost from $900 to $999",
                                     "Cost from $1k to $1.499k",
                                     "Cost from $1.5k to 1.999k",
                                     "Cost from $2k to $2.499",
                                     "Cost from $2.5k to $2.999k",
                                     "Cost from $3k and more"]]

# Visualize
print(len(census_cost_2016))

# Save to csv
census_cost_2016.to_csv('C:\workspace\Resources\HH_Cost2016_NN.csv',index=False)

census_cost_2016

132

,Zipcode,Cost less than $100,Cost from $100 to $199,Cost from $200 to $299,Cost from $300 to $399,Cost from $400 to $499,Cost from $500 to $599,Cost from $600 to $699,Cost from $700 to $799,Cost from $800 to $899,Cost from $900 to $999,Cost from $1k to $1.499k,Cost from $1.5k to 1.999k,Cost from $2k to $2.499,Cost from $2.5k to $2.999k,Cost from $3k and more
0,77586,0.0,30.0,67.0,163.0,220.0,296.0,549.0,642.0,817.0,632.0,1703.0,1497.0,1110.0,303.0,502.0
1,77587,25.0,194.0,334.0,413.0,446.0,231.0,485.0,508.0,368.0,311.0,926.0,190.0,20.0,0.0,10.0
2,77598,0.0,41.0,90.0,63.0,214.0,298.0,735.0,1183.0,1416.0,1199.0,3997.0,723.0,206.0,90.0,45.0
3,77002,0.0,0.0,43.0,88.0,179.0,136.0,137.0,145.0,22.0,68.0,1172.0,657.0,305.0,89.0,139.0
4,77003,21.0,117.0,135.0,203.0,503.0,244.0,163.0,140.0,213.0,246.0,880.0,798.0,520.0,127.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77532,74.0,172.0,404.0,359.0,557.0,512.0,640.0,432.0,892.0,653.0,2901.0,1597.0,309.0,105.0,58.0
128,77536,17.0,126.0,262.0,307.0,507.0,673.0,617.0,537.0,560.0,464.0,3696.0,1707.0,733.0,280.0,78.0
129,77547,0.0,104.0,158.0,276.0,390.0,139.0,217.0,259.0,229.0,216.0,646.0,29.0,8.0,0.0,5.0
130,77562,17.0,148.0,274.0,304.0,401.0,175.0,224.0,287.0,219.0,313.0,877.0,309.0,53.0,0.0,0.0
131,77571,26.0,230.0,343.0,508.0,880.0,875.0,865.0,908.0,549.0,806.0,4109.0,2351.0,518.0,58.0,62.0

In [15]:
# Monthly housing cost for year 2015
c_cost_2015 = Census(api_key_census, year=2015)
census_cost_2015 = c_cost_2015.acs5.get(("NAME","B25104_016E","B25104_015E","B25104_014E","B25104_013E","B25104_012E","B25104_011E","B25104_010E","B25104_009E","B25104_008E","B25104_007E","B25104_006E","B25104_005E","B25104_004E","B25104_003E","B25104_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
# Convert to DataFrame
census_cost_2015 = pd.DataFrame(census_cost_2015)

# Column Reordering
census_cost_2015 = census_cost_2015.rename(columns={"B25104_002E": "Cost less than $100",
                                                    "B25104_016E": "Cost from $3k and more",
                                                    "B25104_015E": "Cost from $2.5k to $2.999k",
                                                    "B25104_014E": "Cost from $2k to $2.499",
                                                    "B25104_013E": "Cost from $1.5k to 1.999k",
                                                    "B25104_012E": "Cost from $1k to $1.499k",
                                                    "B25104_011E": "Cost from $900 to $999",
                                                    "B25104_010E": "Cost from $800 to $899",
                                                    "B25104_009E": "Cost from $700 to $799",
                                                    "B25104_008E": "Cost from $600 to $699",
                                                    "B25104_007E": "Cost from $500 to $599",
                                                    "B25104_006E": "Cost from $400 to $499",
                                                    "B25104_005E": "Cost from $300 to $399",
                                                    "B25104_003E": "Cost from $100 to $199",
                                                    "B25104_004E": "Cost from $200 to $299",
                                                    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_cost_2015 = census_cost_2015[["Zipcode",
                                     "Cost less than $100",
                                     "Cost from $100 to $199",
                                     "Cost from $200 to $299",
                                     "Cost from $300 to $399",
                                     "Cost from $400 to $499",
                                     "Cost from $500 to $599",
                                     "Cost from $600 to $699",
                                     "Cost from $700 to $799",
                                     "Cost from $800 to $899",
                                     "Cost from $900 to $999",
                                     "Cost from $1k to $1.499k",
                                     "Cost from $1.5k to 1.999k",
                                     "Cost from $2k to $2.499",
                                     "Cost from $2.5k to $2.999k",
                                     "Cost from $3k and more"]]

# Visualize
print(len(census_cost_2015))

# Save to csv
census_cost_2015.to_csv('C:\workspace\Resources\HH_Cost2015_NN.csv',index=False)

census_cost_2015

132

,Zipcode,Cost less than $100,Cost from $100 to $199,Cost from $200 to $299,Cost from $300 to $399,Cost from $400 to $499,Cost from $500 to $599,Cost from $600 to $699,Cost from $700 to $799,Cost from $800 to $899,Cost from $900 to $999,Cost from $1k to $1.499k,Cost from $1.5k to 1.999k,Cost from $2k to $2.499,Cost from $2.5k to $2.999k,Cost from $3k and more
0,77002,0.0,0.0,90.0,89.0,170.0,129.0,133.0,151.0,59.0,133.0,1188.0,555.0,268.0,79.0,73.0
1,77003,35.0,167.0,161.0,172.0,411.0,238.0,287.0,233.0,213.0,231.0,749.0,772.0,424.0,127.0,31.0
2,77004,121.0,199.0,437.0,435.0,513.0,1061.0,1145.0,1041.0,859.0,462.0,2319.0,2004.0,1224.0,534.0,346.0
3,77005,12.0,34.0,21.0,72.0,31.0,58.0,256.0,255.0,237.0,198.0,1194.0,1285.0,1191.0,975.0,3731.0
4,77006,11.0,0.0,70.0,61.0,145.0,505.0,571.0,849.0,1296.0,1053.0,2501.0,1832.0,850.0,632.0,1326.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77562,16.0,180.0,271.0,265.0,305.0,159.0,165.0,281.0,174.0,369.0,978.0,266.0,85.0,0.0,21.0
128,77571,11.0,198.0,378.0,519.0,893.0,773.0,749.0,707.0,677.0,808.0,3936.0,2500.0,418.0,66.0,54.0
129,77586,0.0,33.0,66.0,154.0,228.0,364.0,664.0,800.0,713.0,580.0,1653.0,1371.0,967.0,363.0,590.0
130,77587,17.0,183.0,303.0,422.0,424.0,331.0,507.0,502.0,277.0,339.0,958.0,150.0,54.0,35.0,0.0
131,77598,0.0,48.0,29.0,80.0,233.0,404.0,855.0,981.0,1327.0,1368.0,3544.0,765.0,190.0,41.0,31.0

In [16]:
# Monthly housing cost for year 2014
# Leave "B25104_016E": "Cost from $3k and more",
c_cost_2014 = Census(api_key_census, year=2014)
census_cost_2014 = c_cost_2014.acs5.get(("NAME","B25104_015E","B25104_014E","B25104_013E","B25104_012E","B25104_011E","B25104_010E","B25104_009E","B25104_008E","B25104_007E","B25104_006E","B25104_005E","B25104_004E","B25104_003E","B25104_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
# Convert to DataFrame
census_cost_2014 = pd.DataFrame(census_cost_2014)

# Column Reordering
census_cost_2014 = census_cost_2014.rename(columns={"B25104_002E": "Cost less than $100",
                                                    "B25104_015E": "Cost from $2.5k to $2.999k",
                                                    "B25104_014E": "Cost from $2k to $2.499",
                                                    "B25104_013E": "Cost from $1.5k to 1.999k",
                                                    "B25104_012E": "Cost from $1k to $1.499k",
                                                    "B25104_011E": "Cost from $900 to $999",
                                                    "B25104_010E": "Cost from $800 to $899",
                                                    "B25104_009E": "Cost from $700 to $799",
                                                    "B25104_008E": "Cost from $600 to $699",
                                                    "B25104_007E": "Cost from $500 to $599",
                                                    "B25104_006E": "Cost from $400 to $499",
                                                    "B25104_005E": "Cost from $300 to $399",
                                                    "B25104_003E": "Cost from $100 to $199",
                                                    "B25104_004E": "Cost from $200 to $299",
                                                    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_cost_2014 = census_cost_2014[["Zipcode",
                                     "Cost less than $100",
                                     "Cost from $100 to $199",
                                     "Cost from $200 to $299",
                                     "Cost from $300 to $399",
                                     "Cost from $400 to $499",
                                     "Cost from $500 to $599",
                                     "Cost from $600 to $699",
                                     "Cost from $700 to $799",
                                     "Cost from $800 to $899",
                                     "Cost from $900 to $999",
                                     "Cost from $1k to $1.499k",
                                     "Cost from $1.5k to 1.999k",
                                     "Cost from $2k to $2.499",
                                     "Cost from $2.5k to $2.999k"]]
# Visualize
print(len(census_cost_2014))

# Save to csv
census_cost_2014.to_csv('C:\workspace\Resources\HH_Cost2014_NN.csv',index=False)

census_cost_2014

132

,Zipcode,Cost less than $100,Cost from $100 to $199,Cost from $200 to $299,Cost from $300 to $399,Cost from $400 to $499,Cost from $500 to $599,Cost from $600 to $699,Cost from $700 to $799,Cost from $800 to $899,Cost from $900 to $999,Cost from $1k to $1.499k,Cost from $1.5k to 1.999k,Cost from $2k to $2.499,Cost from $2.5k to $2.999k
0,77520,81.0,336.0,771.0,1024.0,898.0,1054.0,1007.0,917.0,1239.0,838.0,2560.0,841.0,202.0,363.0
1,77521,57.0,284.0,495.0,605.0,838.0,1500.0,1503.0,1369.0,1283.0,1481.0,4483.0,2516.0,1104.0,253.0
2,77530,0.0,112.0,325.0,397.0,779.0,502.0,782.0,995.0,479.0,905.0,2771.0,686.0,244.0,121.0
3,77532,14.0,139.0,443.0,460.0,511.0,592.0,465.0,566.0,646.0,455.0,2816.0,1443.0,594.0,220.0
4,77536,0.0,151.0,263.0,372.0,487.0,641.0,801.0,398.0,448.0,465.0,3378.0,2133.0,1066.0,194.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77503,42.0,156.0,372.0,389.0,638.0,833.0,843.0,892.0,735.0,705.0,1987.0,314.0,52.0,62.0
128,77504,16.0,72.0,329.0,192.0,401.0,602.0,1191.0,1288.0,1015.0,915.0,1723.0,738.0,198.0,111.0
129,77505,0.0,27.0,76.0,207.0,252.0,312.0,583.0,723.0,633.0,448.0,2429.0,1726.0,916.0,22.0
130,77506,48.0,383.0,574.0,885.0,733.0,1298.0,1361.0,1230.0,1039.0,982.0,1682.0,166.0,24.0,205.0
131,77507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Monthly housing cost for year 2013
# Leave "B25104_016E": "Cost from $3k and more",
c_cost_2013 = Census(api_key_census, year=2013)
census_cost_2013 = c_cost_2013.acs5.get(("NAME","B25104_015E","B25104_014E","B25104_013E","B25104_012E","B25104_011E","B25104_010E","B25104_009E","B25104_008E","B25104_007E","B25104_006E","B25104_005E","B25104_004E","B25104_003E","B25104_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
# Convert to DataFrame
census_cost_2013 = pd.DataFrame(census_cost_2013)

# Column Reordering
census_cost_2013 = census_cost_2013.rename(columns={"B25104_002E": "Cost less than $100",
                                                    "B25104_015E": "Cost from $2.5k to $2.999k",
                                                    "B25104_014E": "Cost from $2k to $2.499",
                                                    "B25104_013E": "Cost from $1.5k to 1.999k",
                                                    "B25104_012E": "Cost from $1k to $1.499k",
                                                    "B25104_011E": "Cost from $900 to $999",
                                                    "B25104_010E": "Cost from $800 to $899",
                                                    "B25104_009E": "Cost from $700 to $799",
                                                    "B25104_008E": "Cost from $600 to $699",
                                                    "B25104_007E": "Cost from $500 to $599",
                                                    "B25104_006E": "Cost from $400 to $499",
                                                    "B25104_005E": "Cost from $300 to $399",
                                                    "B25104_003E": "Cost from $100 to $199",
                                                    "B25104_004E": "Cost from $200 to $299",
                                                    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_cost_2013 = census_cost_2013[["Zipcode",
                                     "Cost less than $100",
                                     "Cost from $100 to $199",
                                     "Cost from $200 to $299",
                                     "Cost from $300 to $399",
                                     "Cost from $400 to $499",
                                     "Cost from $500 to $599",
                                     "Cost from $600 to $699",
                                     "Cost from $700 to $799",
                                     "Cost from $800 to $899",
                                     "Cost from $900 to $999",
                                     "Cost from $1k to $1.499k",
                                     "Cost from $1.5k to 1.999k",
                                     "Cost from $2k to $2.499",
                                     "Cost from $2.5k to $2.999k"]]
# Visualize
print(len(census_cost_2013))

# Save to csv
census_cost_2013.to_csv('C:\workspace\Resources\HH_Cost2013_NN.csv',index=False)

census_cost_2013

132

,Zipcode,Cost less than $100,Cost from $100 to $199,Cost from $200 to $299,Cost from $300 to $399,Cost from $400 to $499,Cost from $500 to $599,Cost from $600 to $699,Cost from $700 to $799,Cost from $800 to $899,Cost from $900 to $999,Cost from $1k to $1.499k,Cost from $1.5k to 1.999k,Cost from $2k to $2.499,Cost from $2.5k to $2.999k
0,77562,17.0,130.0,173.0,255.0,252.0,133.0,233.0,301.0,227.0,326.0,958.0,365.0,143.0,25.0
1,77571,4.0,184.0,280.0,399.0,845.0,879.0,743.0,553.0,741.0,699.0,3624.0,2343.0,817.0,166.0
2,77586,0.0,25.0,34.0,116.0,226.0,313.0,482.0,706.0,713.0,636.0,1556.0,1301.0,2111.0,17.0
3,77587,13.0,143.0,230.0,467.0,333.0,588.0,580.0,256.0,351.0,279.0,1051.0,229.0,54.0,143.0
4,77598,0.0,9.0,64.0,87.0,178.0,404.0,920.0,1279.0,1425.0,1341.0,3228.0,668.0,207.0,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77521,82.0,205.0,375.0,631.0,726.0,1648.0,1468.0,1262.0,1279.0,1196.0,4410.0,2642.0,1119.0,290.0
128,77530,0.0,136.0,356.0,409.0,648.0,521.0,1013.0,811.0,657.0,667.0,2866.0,690.0,248.0,94.0
129,77532,0.0,167.0,376.0,498.0,442.0,635.0,507.0,672.0,473.0,581.0,2484.0,1585.0,455.0,184.0
130,77536,0.0,81.0,270.0,338.0,380.0,547.0,811.0,349.0,417.0,443.0,3377.0,2067.0,1250.0,169.0
131,77547,12.0,173.0,110.0,238.0,280.0,214.0,129.0,120.0,113.0,210.0,853.0,97.0,0.0,179.0

In [18]:
# Monthly housing cost for year 2012
# Leave "B25104_016E": "Cost from $3k and more",
c_cost_2012 = Census(api_key_census, year=2012)
census_cost_2012 = c_cost_2012.acs5.get(("NAME","B25104_015E","B25104_014E","B25104_013E","B25104_012E","B25104_011E","B25104_010E","B25104_009E","B25104_008E","B25104_007E","B25104_006E","B25104_005E","B25104_004E","B25104_003E","B25104_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
# Convert to DataFrame
census_cost_2012 = pd.DataFrame(census_cost_2012)

# Column Reordering
census_cost_2012 = census_cost_2012.rename(columns={"B25104_002E": "Cost less than $100",
                                                    "B25104_015E": "Cost from $2.5k to $2.999k",
                                                    "B25104_014E": "Cost from $2k to $2.499",
                                                    "B25104_013E": "Cost from $1.5k to 1.999k",
                                                    "B25104_012E": "Cost from $1k to $1.499k",
                                                    "B25104_011E": "Cost from $900 to $999",
                                                    "B25104_010E": "Cost from $800 to $899",
                                                    "B25104_009E": "Cost from $700 to $799",
                                                    "B25104_008E": "Cost from $600 to $699",
                                                    "B25104_007E": "Cost from $500 to $599",
                                                    "B25104_006E": "Cost from $400 to $499",
                                                    "B25104_005E": "Cost from $300 to $399",
                                                    "B25104_003E": "Cost from $100 to $199",
                                                    "B25104_004E": "Cost from $200 to $299",
                                                    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_cost_2012 = census_cost_2012[["Zipcode",
                                     "Cost less than $100",
                                     "Cost from $100 to $199",
                                     "Cost from $200 to $299",
                                     "Cost from $300 to $399",
                                     "Cost from $400 to $499",
                                     "Cost from $500 to $599",
                                     "Cost from $600 to $699",
                                     "Cost from $700 to $799",
                                     "Cost from $800 to $899",
                                     "Cost from $900 to $999",
                                     "Cost from $1k to $1.499k",
                                     "Cost from $1.5k to 1.999k",
                                     "Cost from $2k to $2.499",
                                     "Cost from $2.5k to $2.999k"]]
# Visualize
print(len(census_cost_2012))

# Save to csv
census_cost_2012.to_csv('C:\workspace\Resources\HH_Cost2012_NN.csv',index=False)

census_cost_2012

132

,Zipcode,Cost less than $100,Cost from $100 to $199,Cost from $200 to $299,Cost from $300 to $399,Cost from $400 to $499,Cost from $500 to $599,Cost from $600 to $699,Cost from $700 to $799,Cost from $800 to $899,Cost from $900 to $999,Cost from $1k to $1.499k,Cost from $1.5k to 1.999k,Cost from $2k to $2.499,Cost from $2.5k to $2.999k
0,77493,0.0,20.0,107.0,164.0,247.0,244.0,363.0,235.0,397.0,457.0,2113.0,1713.0,950.0,80.0
1,77502,63.0,199.0,549.0,686.0,763.0,883.0,1067.0,920.0,586.0,635.0,3086.0,811.0,171.0,274.0
2,77503,24.0,170.0,276.0,372.0,558.0,640.0,842.0,790.0,758.0,494.0,2178.0,422.0,50.0,85.0
3,77504,22.0,134.0,337.0,274.0,397.0,616.0,1239.0,1229.0,924.0,644.0,1823.0,510.0,293.0,92.0
4,77505,0.0,40.0,163.0,150.0,221.0,607.0,403.0,783.0,458.0,578.0,1906.0,1701.0,1081.0,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77429,21.0,80.0,157.0,451.0,423.0,570.0,590.0,1100.0,1018.0,793.0,5574.0,5549.0,7113.0,193.0
128,77433,0.0,27.0,119.0,52.0,194.0,182.0,276.0,360.0,209.0,386.0,4041.0,4321.0,4879.0,37.0
129,77447,8.0,35.0,71.0,154.0,131.0,295.0,201.0,186.0,275.0,187.0,1396.0,489.0,344.0,76.0
130,77449,14.0,73.0,174.0,310.0,446.0,837.0,873.0,610.0,801.0,1452.0,11013.0,7978.0,2019.0,255.0
131,77450,0.0,36.0,127.0,235.0,443.0,502.0,775.0,1080.0,1337.0,1098.0,5534.0,4954.0,6788.0,340.0

In [19]:
# Monthly housing cost for year 2011
# Leave "B25104_016E": "Cost from $3k and more",
c_cost_2011 = Census(api_key_census, year=2011)
census_cost_2011 = c_cost_2011.acs5.get(("NAME","B25104_015E","B25104_014E","B25104_013E","B25104_012E","B25104_011E","B25104_010E","B25104_009E","B25104_008E","B25104_007E","B25104_006E","B25104_005E","B25104_004E","B25104_003E","B25104_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
# Convert to DataFrame
census_cost_2011 = pd.DataFrame(census_cost_2011)

# Column Reordering
census_cost_2011 = census_cost_2011.rename(columns={"B25104_002E": "Cost less than $100",
                                                    "B25104_015E": "Cost from $2.5k to $2.999k",
                                                    "B25104_014E": "Cost from $2k to $2.499",
                                                    "B25104_013E": "Cost from $1.5k to 1.999k",
                                                    "B25104_012E": "Cost from $1k to $1.499k",
                                                    "B25104_011E": "Cost from $900 to $999",
                                                    "B25104_010E": "Cost from $800 to $899",
                                                    "B25104_009E": "Cost from $700 to $799",
                                                    "B25104_008E": "Cost from $600 to $699",
                                                    "B25104_007E": "Cost from $500 to $599",
                                                    "B25104_006E": "Cost from $400 to $499",
                                                    "B25104_005E": "Cost from $300 to $399",
                                                    "B25104_003E": "Cost from $100 to $199",
                                                    "B25104_004E": "Cost from $200 to $299",
                                                    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_cost_2011 = census_cost_2011[["Zipcode",
                                     "Cost less than $100",
                                     "Cost from $100 to $199",
                                     "Cost from $200 to $299",
                                     "Cost from $300 to $399",
                                     "Cost from $400 to $499",
                                     "Cost from $500 to $599",
                                     "Cost from $600 to $699",
                                     "Cost from $700 to $799",
                                     "Cost from $800 to $899",
                                     "Cost from $900 to $999",
                                     "Cost from $1k to $1.499k",
                                     "Cost from $1.5k to 1.999k",
                                     "Cost from $2k to $2.499",
                                     "Cost from $2.5k to $2.999k"]]
# Visualize
print(len(census_cost_2011))

# Save to csv
census_cost_2011.to_csv('C:\workspace\Resources\HH_Cost2011_NN.csv',index=False)

census_cost_2011

132

,Zipcode,Cost less than $100,Cost from $100 to $199,Cost from $200 to $299,Cost from $300 to $399,Cost from $400 to $499,Cost from $500 to $599,Cost from $600 to $699,Cost from $700 to $799,Cost from $800 to $899,Cost from $900 to $999,Cost from $1k to $1.499k,Cost from $1.5k to 1.999k,Cost from $2k to $2.499,Cost from $2.5k to $2.999k
0,77002,12.0,21.0,67.0,51.0,86.0,193.0,27.0,72.0,224.0,163.0,899.0,524.0,392.0,10.0
1,77003,26.0,198.0,149.0,170.0,550.0,467.0,368.0,137.0,107.0,286.0,596.0,412.0,363.0,120.0
2,77004,74.0,363.0,434.0,457.0,969.0,1418.0,1210.0,1257.0,706.0,485.0,2033.0,1231.0,1483.0,232.0
3,77005,0.0,13.0,20.0,9.0,28.0,171.0,231.0,265.0,251.0,168.0,1515.0,1557.0,5198.0,109.0
4,77006,14.0,37.0,33.0,72.0,193.0,772.0,669.0,1257.0,1047.0,681.0,2547.0,1480.0,2567.0,112.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77562,0.0,132.0,164.0,194.0,383.0,235.0,298.0,202.0,192.0,139.0,1103.0,301.0,115.0,116.0
128,77571,27.0,162.0,271.0,417.0,692.0,754.0,529.0,790.0,496.0,660.0,3928.0,2463.0,696.0,210.0
129,77586,27.0,11.0,19.0,40.0,303.0,295.0,450.0,730.0,737.0,551.0,1387.0,1324.0,2210.0,60.0
130,77587,0.0,86.0,334.0,404.0,373.0,654.0,526.0,197.0,292.0,466.0,1048.0,245.0,58.0,96.0
131,77598,0.0,19.0,48.0,98.0,207.0,561.0,1070.0,1384.0,1803.0,907.0,2902.0,560.0,234.0,106.0