In [1]:
import requests
import json
from config import api_key_census
import census
from census import Census
import pandas as pd
import matplotlib.pyplot as plt
import us
from us import states

In [2]:
#House values for year 2017
c = Census(api_key_census, year=2017)
census_data_value_2017 = c.acs5.get(("NAME","B25075_026E","B25075_025E","B25075_024E","B25075_023E","B25075_022E","B25075_021E","B25075_020E","B25075_019E","B25075_018E","B25075_017E","B25075_016E","B25075_015E","B25075_014E","B25075_013E","B25075_012E","B25075_011E","B25075_010E","B25075_009E","B25075_008E","B25075_007E","B25075_006E","B25075_005E","B25075_004E","B25075_003E","B25075_002E","B25075_027E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})

In [3]:
# Convert to DataFrame
census_pd_value_2017 = pd.DataFrame(census_data_value_2017)

# Column Reordering
census_pd_value_2017 = census_pd_value_2017.rename(columns={"B25075_002E": "House Value less than 10k",
                                                            "B25075_026E": "House Value from 1.5 millions to 2 millions",
                                                            "B25075_025E": "House Value from 1 million to 1.499 millions",
                                                            "B25075_024E": "House Value from 800k to 999.9k",
                                                            "B25075_023E": "House Value from 500k to 749.9k",
                                                            "B25075_022E": "House Value from 400k to 499.9k",
                                                            "B25075_021E": "House Value from 300k to 399.9k",
                                                            "B25075_020E": "House Value from 250k to 299.9k",
                                                            "B25075_019E": "House Value from 200k to 249.9k",
                                                            "B25075_018E": "House Value from 175k to 199.9k",
                                                            "B25075_017E": "House Value from 150k to 174.9k",
                                                            "B25075_016E": "House Value from 125k to 149.9k",
                                                            "B25075_015E": "House Value from 100k to 124.9k",
                                                            "B25075_014E": "House Value from 90k to 99.9k",
                                                            "B25075_013E": "House Value from 80k to 89.9k",
                                                            "B25075_012E": "House Value from 70k to 79.9k",
                                                            "B25075_011E": "House Value from 60k to 69.9k",
                                                            "B25075_010E": "House Value from 50k to 59.9k",
                                                            "B25075_009E": "House Value from 40k to 49.9k",
                                                            "B25075_008E": "House Value from 35k to 39.9k",
                                                            "B25075_007E": "House Value from 30k to 34.9k",
                                                            "B25075_006E": "House Value from 25k to 29.9k",
                                                            "B25075_005E": "House Value from 20k to 24.9k",
                                                            "B25075_003E": "House Value from 10k to 14.9k",
                                                            "B25075_004E": "House Value from 15k to 19.9k",
                                                            "B25075_027E": "House Value more than 2 millions",
                                                            "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_pd_value_2017 = census_pd_value_2017[["Zipcode", 
                                             "House Value less than 10k",
                                             "House Value from 10k to 14.9k", 
                                             "House Value from 15k to 19.9k",
                                             "House Value from 20k to 24.9k",
                                             "House Value from 25k to 29.9k",
                                             "House Value from 30k to 34.9k",
                                             "House Value from 35k to 39.9k",
                                             "House Value from 40k to 49.9k",
                                             "House Value from 50k to 59.9k",
                                             "House Value from 60k to 69.9k",
                                             "House Value from 70k to 79.9k",
                                             "House Value from 80k to 89.9k",
                                             "House Value from 90k to 99.9k",
                                             "House Value from 100k to 124.9k",
                                             "House Value from 125k to 149.9k",
                                             "House Value from 150k to 174.9k",
                                             "House Value from 175k to 199.9k",
                                             "House Value from 200k to 249.9k",
                                             "House Value from 250k to 299.9k",
                                             "House Value from 300k to 399.9k",
                                             "House Value from 400k to 499.9k",
                                             "House Value from 500k to 749.9k",
                                             "House Value from 800k to 999.9k",
                                             "House Value from 1 million to 1.499 millions",
                                             "House Value from 1.5 millions to 2 millions",
                                             "House Value more than 2 millions"]]

# Visualize
print(len(census_pd_value_2017))

# Save to csv
census_pd_value_2017.to_csv('C:\workspace\Resources\HH_HouseValue2017_NN.csv',index=False)
census_pd_value_2017

132

,Zipcode,House Value less than 10k,House Value from 10k to 14.9k,House Value from 15k to 19.9k,House Value from 20k to 24.9k,House Value from 25k to 29.9k,House Value from 30k to 34.9k,House Value from 35k to 39.9k,House Value from 40k to 49.9k,House Value from 50k to 59.9k,...,House Value from 175k to 199.9k,House Value from 200k to 249.9k,House Value from 250k to 299.9k,House Value from 300k to 399.9k,House Value from 400k to 499.9k,House Value from 500k to 749.9k,House Value from 800k to 999.9k,House Value from 1 million to 1.499 millions,House Value from 1.5 millions to 2 millions,House Value more than 2 millions
0,77003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,56.0,130.0,392.0,657.0,105.0,13.0,0.0,0.0,0.0,19.0
1,77375,185.0,8.0,220.0,40.0,0.0,221.0,6.0,11.0,88.0,...,1112.0,1475.0,767.0,691.0,304.0,547.0,116.0,102.0,18.0,38.0
2,77002,18.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,...,29.0,137.0,162.0,115.0,36.0,39.0,18.0,0.0,0.0,0.0
3,77091,80.0,33.0,33.0,21.0,39.0,127.0,31.0,179.0,106.0,...,314.0,319.0,188.0,172.0,8.0,26.0,2.0,0.0,0.0,32.0
4,77024,80.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,30.0,...,223.0,340.0,212.0,647.0,368.0,1451.0,1517.0,1657.0,976.0,1869.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77089,108.0,17.0,10.0,31.0,27.0,0.0,24.0,36.0,18.0,...,879.0,618.0,671.0,224.0,17.0,15.0,0.0,33.0,0.0,0.0
128,77033,99.0,26.0,31.0,62.0,36.0,296.0,338.0,1026.0,665.0,...,15.0,25.0,0.0,0.0,13.0,0.0,0.0,0.0,11.0,13.0
129,77064,74.0,70.0,6.0,66.0,0.0,0.0,0.0,1.0,203.0,...,782.0,1262.0,462.0,338.0,103.0,0.0,0.0,15.0,0.0,10.0
130,77099,9.0,9.0,32.0,56.0,45.0,80.0,0.0,144.0,101.0,...,95.0,70.0,57.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0
131,77201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# House value year 2016
c2016 = Census(api_key_census, year=2016)
census_data_value_2016 = c2016.acs5.get(("NAME","B25075_026E","B25075_025E","B25075_024E","B25075_023E","B25075_022E","B25075_021E","B25075_020E","B25075_019E","B25075_018E","B25075_017E","B25075_016E","B25075_015E","B25075_014E","B25075_013E","B25075_012E","B25075_011E","B25075_010E","B25075_009E","B25075_008E","B25075_007E","B25075_006E","B25075_005E","B25075_004E","B25075_003E","B25075_002E","B25075_027E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
census_pd_value_2016 = pd.DataFrame(census_data_value_2016)

# Column Reordering
census_pd_value_2016 = census_pd_value_2016.rename(columns={"B25075_002E": "House Value less than 10k",
                                                            "B25075_026E": "House Value from 1.5 millions to 2 millions",
                                                            "B25075_025E": "House Value from 1 million to 1.499 millions",
                                                            "B25075_024E": "House Value from 800k to 999.9k",
                                                            "B25075_023E": "House Value from 500k to 749.9k",
                                                            "B25075_022E": "House Value from 400k to 499.9k",
                                                            "B25075_021E": "House Value from 300k to 399.9k",
                                                            "B25075_020E": "House Value from 250k to 299.9k",
                                                            "B25075_019E": "House Value from 200k to 249.9k",
                                                            "B25075_018E": "House Value from 175k to 199.9k",
                                                            "B25075_017E": "House Value from 150k to 174.9k",
                                                            "B25075_016E": "House Value from 125k to 149.9k",
                                                            "B25075_015E": "House Value from 100k to 124.9k",
                                                            "B25075_014E": "House Value from 90k to 99.9k",
                                                            "B25075_013E": "House Value from 80k to 89.9k",
                                                            "B25075_012E": "House Value from 70k to 79.9k",
                                                            "B25075_011E": "House Value from 60k to 69.9k",
                                                            "B25075_010E": "House Value from 50k to 59.9k",
                                                            "B25075_009E": "House Value from 40k to 49.9k",
                                                            "B25075_008E": "House Value from 35k to 39.9k",
                                                            "B25075_007E": "House Value from 30k to 34.9k",
                                                            "B25075_006E": "House Value from 25k to 29.9k",
                                                            "B25075_005E": "House Value from 20k to 24.9k",
                                                            "B25075_003E": "House Value from 10k to 14.9k",
                                                            "B25075_004E": "House Value from 15k to 19.9k",
                                                            "B25075_027E": "House Value more than 2 millions",
                                                            "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_pd_value_2016 = census_pd_value_2016[["Zipcode", 
                                             "House Value less than 10k",
                                             "House Value from 10k to 14.9k", 
                                             "House Value from 15k to 19.9k",
                                             "House Value from 20k to 24.9k",
                                             "House Value from 25k to 29.9k",
                                             "House Value from 30k to 34.9k",
                                             "House Value from 35k to 39.9k",
                                             "House Value from 40k to 49.9k",
                                             "House Value from 50k to 59.9k",
                                             "House Value from 60k to 69.9k",
                                             "House Value from 70k to 79.9k",
                                             "House Value from 80k to 89.9k",
                                             "House Value from 90k to 99.9k",
                                             "House Value from 100k to 124.9k",
                                             "House Value from 125k to 149.9k",
                                             "House Value from 150k to 174.9k",
                                             "House Value from 175k to 199.9k",
                                             "House Value from 200k to 249.9k",
                                             "House Value from 250k to 299.9k",
                                             "House Value from 300k to 399.9k",
                                             "House Value from 400k to 499.9k",
                                             "House Value from 500k to 749.9k",
                                             "House Value from 800k to 999.9k",
                                             "House Value from 1 million to 1.499 millions",
                                             "House Value from 1.5 millions to 2 millions",
                                             "House Value more than 2 millions"]]

# Visualize
print(len(census_pd_value_2016))

# Save to csv
census_pd_value_2016.to_csv('C:\workspace\Resources\HH_HouseValue2016_NN.csv',index=False)
census_pd_value_2016

132

,Zipcode,House Value less than 10k,House Value from 10k to 14.9k,House Value from 15k to 19.9k,House Value from 20k to 24.9k,House Value from 25k to 29.9k,House Value from 30k to 34.9k,House Value from 35k to 39.9k,House Value from 40k to 49.9k,House Value from 50k to 59.9k,...,House Value from 175k to 199.9k,House Value from 200k to 249.9k,House Value from 250k to 299.9k,House Value from 300k to 399.9k,House Value from 400k to 499.9k,House Value from 500k to 749.9k,House Value from 800k to 999.9k,House Value from 1 million to 1.499 millions,House Value from 1.5 millions to 2 millions,House Value more than 2 millions
0,77586,36.0,12.0,29.0,12.0,12.0,5.0,39.0,32.0,78.0,...,687.0,1207.0,692.0,487.0,166.0,179.0,35.0,21.0,9.0,34.0
1,77587,193.0,23.0,0.0,38.0,20.0,8.0,86.0,150.0,113.0,...,34.0,14.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,77598,12.0,25.0,0.0,36.0,0.0,8.0,7.0,32.0,49.0,...,127.0,16.0,95.0,77.0,13.0,23.0,0.0,0.0,0.0,0.0
3,77002,16.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,...,47.0,139.0,147.0,110.0,28.0,41.0,18.0,0.0,0.0,0.0
4,77003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,...,97.0,236.0,361.0,414.0,79.0,11.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77532,110.0,120.0,87.0,71.0,46.0,259.0,57.0,164.0,219.0,...,341.0,519.0,443.0,277.0,16.0,95.0,11.0,0.0,0.0,0.0
128,77536,87.0,150.0,77.0,42.0,38.0,9.0,5.0,49.0,70.0,...,617.0,799.0,445.0,300.0,34.0,11.0,0.0,0.0,0.0,0.0
129,77547,12.0,0.0,8.0,3.0,6.0,17.0,45.0,135.0,315.0,...,26.0,13.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,5.0
130,77562,33.0,15.0,131.0,45.0,24.0,108.0,9.0,132.0,139.0,...,120.0,110.0,86.0,37.0,11.0,30.0,15.0,0.0,0.0,19.0
131,77571,272.0,172.0,39.0,13.0,53.0,77.0,38.0,25.0,147.0,...,716.0,735.0,238.0,159.0,58.0,53.0,24.0,49.0,1.0,16.0

In [5]:
# House value year 2015
c2015 = Census(api_key_census, year=2015)
census_data_value_2015 = c2015.acs5.get(("NAME","B25075_026E","B25075_025E","B25075_024E","B25075_023E","B25075_022E","B25075_021E","B25075_020E","B25075_019E","B25075_018E","B25075_017E","B25075_016E","B25075_015E","B25075_014E","B25075_013E","B25075_012E","B25075_011E","B25075_010E","B25075_009E","B25075_008E","B25075_007E","B25075_006E","B25075_005E","B25075_004E","B25075_003E","B25075_002E","B25075_027E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
census_pd_value_2015 = pd.DataFrame(census_data_value_2015)

# Column Reordering
census_pd_value_2015 = census_pd_value_2015.rename(columns={"B25075_002E": "House Value less than 10k",
                                                            "B25075_026E": "House Value from 1.5 millions to 2 millions",
                                                            "B25075_025E": "House Value from 1 million to 1.499 millions",
                                                            "B25075_024E": "House Value from 800k to 999.9k",
                                                            "B25075_023E": "House Value from 500k to 749.9k",
                                                            "B25075_022E": "House Value from 400k to 499.9k",
                                                            "B25075_021E": "House Value from 300k to 399.9k",
                                                            "B25075_020E": "House Value from 250k to 299.9k",
                                                            "B25075_019E": "House Value from 200k to 249.9k",
                                                            "B25075_018E": "House Value from 175k to 199.9k",
                                                            "B25075_017E": "House Value from 150k to 174.9k",
                                                            "B25075_016E": "House Value from 125k to 149.9k",
                                                            "B25075_015E": "House Value from 100k to 124.9k",
                                                            "B25075_014E": "House Value from 90k to 99.9k",
                                                            "B25075_013E": "House Value from 80k to 89.9k",
                                                            "B25075_012E": "House Value from 70k to 79.9k",
                                                            "B25075_011E": "House Value from 60k to 69.9k",
                                                            "B25075_010E": "House Value from 50k to 59.9k",
                                                            "B25075_009E": "House Value from 40k to 49.9k",
                                                            "B25075_008E": "House Value from 35k to 39.9k",
                                                            "B25075_007E": "House Value from 30k to 34.9k",
                                                            "B25075_006E": "House Value from 25k to 29.9k",
                                                            "B25075_005E": "House Value from 20k to 24.9k",
                                                            "B25075_003E": "House Value from 10k to 14.9k",
                                                            "B25075_004E": "House Value from 15k to 19.9k",
                                                            "B25075_027E": "House Value more than 2 millions",
                                                            "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_pd_value_2015 = census_pd_value_2015[["Zipcode", 
                                             "House Value less than 10k",
                                             "House Value from 10k to 14.9k", 
                                             "House Value from 15k to 19.9k",
                                             "House Value from 20k to 24.9k",
                                             "House Value from 25k to 29.9k",
                                             "House Value from 30k to 34.9k",
                                             "House Value from 35k to 39.9k",
                                             "House Value from 40k to 49.9k",
                                             "House Value from 50k to 59.9k",
                                             "House Value from 60k to 69.9k",
                                             "House Value from 70k to 79.9k",
                                             "House Value from 80k to 89.9k",
                                             "House Value from 90k to 99.9k",
                                             "House Value from 100k to 124.9k",
                                             "House Value from 125k to 149.9k",
                                             "House Value from 150k to 174.9k",
                                             "House Value from 175k to 199.9k",
                                             "House Value from 200k to 249.9k",
                                             "House Value from 250k to 299.9k",
                                             "House Value from 300k to 399.9k",
                                             "House Value from 400k to 499.9k",
                                             "House Value from 500k to 749.9k",
                                             "House Value from 800k to 999.9k",
                                             "House Value from 1 million to 1.499 millions",
                                             "House Value from 1.5 millions to 2 millions",
                                             "House Value more than 2 millions"]]

# Visualize
print(len(census_pd_value_2015))

# Save to csv
census_pd_value_2015.to_csv('C:\workspace\Resources\HH_HouseValue2016_NN.csv',index=False)
census_pd_value_2015

132

,Zipcode,House Value less than 10k,House Value from 10k to 14.9k,House Value from 15k to 19.9k,House Value from 20k to 24.9k,House Value from 25k to 29.9k,House Value from 30k to 34.9k,House Value from 35k to 39.9k,House Value from 40k to 49.9k,House Value from 50k to 59.9k,...,House Value from 175k to 199.9k,House Value from 200k to 249.9k,House Value from 250k to 299.9k,House Value from 300k to 399.9k,House Value from 400k to 499.9k,House Value from 500k to 749.9k,House Value from 800k to 999.9k,House Value from 1 million to 1.499 millions,House Value from 1.5 millions to 2 millions,House Value more than 2 millions
0,77002,18.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,...,78.0,178.0,105.0,59.0,14.0,18.0,20.0,0.0,0.0,0.0
1,77003,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,64.0,...,137.0,267.0,290.0,261.0,42.0,9.0,0.0,0.0,0.0,11.0
2,77004,20.0,20.0,0.0,0.0,29.0,20.0,22.0,52.0,62.0,...,317.0,705.0,521.0,573.0,286.0,145.0,37.0,51.0,0.0,5.0
3,77005,42.0,21.0,8.0,25.0,0.0,0.0,0.0,20.0,50.0,...,37.0,60.0,169.0,239.0,414.0,1553.0,1584.0,1533.0,661.0,286.0
4,77006,23.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,27.0,...,137.0,323.0,265.0,786.0,744.0,984.0,116.0,55.0,10.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77562,15.0,29.0,104.0,14.0,27.0,71.0,11.0,151.0,188.0,...,116.0,96.0,92.0,13.0,12.0,47.0,11.0,0.0,0.0,0.0
128,77571,148.0,180.0,30.0,33.0,50.0,76.0,18.0,25.0,179.0,...,639.0,544.0,189.0,119.0,33.0,37.0,34.0,83.0,4.0,11.0
129,77586,26.0,12.0,29.0,32.0,13.0,6.0,46.0,32.0,78.0,...,702.0,1316.0,535.0,366.0,144.0,200.0,123.0,9.0,0.0,30.0
130,77587,190.0,32.0,0.0,42.0,19.0,6.0,87.0,158.0,126.0,...,37.0,64.0,12.0,7.0,0.0,0.0,0.0,18.0,0.0,0.0
131,77598,12.0,31.0,0.0,36.0,0.0,52.0,2.0,70.0,49.0,...,81.0,19.0,82.0,46.0,10.0,21.0,20.0,0.0,0.0,0.0

In [6]:
# House value year 2014
# Leave    "B25075_026E": "House Value from 1.5 millions to 2 millions",
# Leave  "B25075_027E": "House Value more than 2 millions",
c2014 = Census(api_key_census, year=2014)
census_data_value_2014 = c2014.acs5.get(("NAME","B25075_025E","B25075_024E","B25075_023E","B25075_022E","B25075_021E","B25075_020E","B25075_019E","B25075_018E","B25075_017E","B25075_016E","B25075_015E","B25075_014E","B25075_013E","B25075_012E","B25075_011E","B25075_010E","B25075_009E","B25075_008E","B25075_007E","B25075_006E","B25075_005E","B25075_004E","B25075_003E","B25075_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
census_pd_value_2014 = pd.DataFrame(census_data_value_2014)

# Column Reordering
census_pd_value_2014 = census_pd_value_2014.rename(columns={"B25075_002E": "House Value less than 10k",
                                                            "B25075_025E": "House Value from 1 million to 1.499 millions",
                                                            "B25075_024E": "House Value from 800k to 999.9k",
                                                            "B25075_023E": "House Value from 500k to 749.9k",
                                                            "B25075_022E": "House Value from 400k to 499.9k",
                                                            "B25075_021E": "House Value from 300k to 399.9k",
                                                            "B25075_020E": "House Value from 250k to 299.9k",
                                                            "B25075_019E": "House Value from 200k to 249.9k",
                                                            "B25075_018E": "House Value from 175k to 199.9k",
                                                            "B25075_017E": "House Value from 150k to 174.9k",
                                                            "B25075_016E": "House Value from 125k to 149.9k",
                                                            "B25075_015E": "House Value from 100k to 124.9k",
                                                            "B25075_014E": "House Value from 90k to 99.9k",
                                                            "B25075_013E": "House Value from 80k to 89.9k",
                                                            "B25075_012E": "House Value from 70k to 79.9k",
                                                            "B25075_011E": "House Value from 60k to 69.9k",
                                                            "B25075_010E": "House Value from 50k to 59.9k",
                                                            "B25075_009E": "House Value from 40k to 49.9k",
                                                            "B25075_008E": "House Value from 35k to 39.9k",
                                                            "B25075_007E": "House Value from 30k to 34.9k",
                                                            "B25075_006E": "House Value from 25k to 29.9k",
                                                            "B25075_005E": "House Value from 20k to 24.9k",
                                                            "B25075_003E": "House Value from 10k to 14.9k",
                                                            "B25075_004E": "House Value from 15k to 19.9k",
                                                            "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_pd_value_2014 = census_pd_value_2014[["Zipcode", 
                                             "House Value less than 10k",
                                             "House Value from 10k to 14.9k", 
                                             "House Value from 15k to 19.9k",
                                             "House Value from 20k to 24.9k",
                                             "House Value from 25k to 29.9k",
                                             "House Value from 30k to 34.9k",
                                             "House Value from 35k to 39.9k",
                                             "House Value from 40k to 49.9k",
                                             "House Value from 50k to 59.9k",
                                             "House Value from 60k to 69.9k",
                                             "House Value from 70k to 79.9k",
                                             "House Value from 80k to 89.9k",
                                             "House Value from 90k to 99.9k",
                                             "House Value from 100k to 124.9k",
                                             "House Value from 125k to 149.9k",
                                             "House Value from 150k to 174.9k",
                                             "House Value from 175k to 199.9k",
                                             "House Value from 200k to 249.9k",
                                             "House Value from 250k to 299.9k",
                                             "House Value from 300k to 399.9k",
                                             "House Value from 400k to 499.9k",
                                             "House Value from 500k to 749.9k",
                                             "House Value from 800k to 999.9k",
                                             "House Value from 1 million to 1.499 millions"]]

# Visualize
print(len(census_pd_value_2014))

# Save to csv
census_pd_value_2014.to_csv('C:\workspace\Resources\HH_HouseValue2014_NN.csv',index=False)
census_pd_value_2014

132

,Zipcode,House Value less than 10k,House Value from 10k to 14.9k,House Value from 15k to 19.9k,House Value from 20k to 24.9k,House Value from 25k to 29.9k,House Value from 30k to 34.9k,House Value from 35k to 39.9k,House Value from 40k to 49.9k,House Value from 50k to 59.9k,...,House Value from 125k to 149.9k,House Value from 150k to 174.9k,House Value from 175k to 199.9k,House Value from 200k to 249.9k,House Value from 250k to 299.9k,House Value from 300k to 399.9k,House Value from 400k to 499.9k,House Value from 500k to 749.9k,House Value from 800k to 999.9k,House Value from 1 million to 1.499 millions
0,77520,167.0,37.0,75.0,147.0,165.0,89.0,253.0,896.0,629.0,...,379.0,459.0,125.0,231.0,59.0,33.0,10.0,9.0,12.0,5.0
1,77521,336.0,117.0,90.0,39.0,68.0,12.0,140.0,228.0,395.0,...,1811.0,1130.0,717.0,803.0,275.0,277.0,47.0,36.0,0.0,17.0
2,77530,309.0,74.0,83.0,63.0,116.0,14.0,97.0,143.0,325.0,...,223.0,260.0,64.0,67.0,69.0,0.0,18.0,18.0,0.0,14.0
3,77532,104.0,74.0,60.0,31.0,110.0,267.0,65.0,281.0,164.0,...,1158.0,919.0,406.0,409.0,316.0,215.0,74.0,55.0,24.0,77.0
4,77536,44.0,135.0,155.0,35.0,0.0,0.0,11.0,31.0,68.0,...,1771.0,1230.0,568.0,591.0,319.0,174.0,62.0,8.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,77503,256.0,71.0,72.0,28.0,50.0,0.0,0.0,133.0,132.0,...,267.0,144.0,57.0,66.0,35.0,0.0,0.0,0.0,0.0,0.0
128,77504,117.0,69.0,71.0,40.0,43.0,63.0,70.0,101.0,108.0,...,495.0,538.0,311.0,250.0,20.0,26.0,18.0,27.0,0.0,10.0
129,77505,80.0,59.0,28.0,6.0,0.0,0.0,0.0,0.0,12.0,...,814.0,1141.0,938.0,1100.0,153.0,193.0,4.0,54.0,0.0,0.0
130,77506,78.0,16.0,17.0,37.0,50.0,120.0,71.0,441.0,568.0,...,75.0,59.0,37.0,32.0,0.0,0.0,0.0,9.0,12.0,7.0
131,77507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# House value year 2013
# Leave    "B25075_026E": "House Value from 1.5 millions to 2 millions",
# Leave  "B25075_027E": "House Value more than 2 millions",
c2013 = Census(api_key_census, year=2013)
census_data_value_2013 = c2013.acs5.get(("NAME","B25075_025E","B25075_024E","B25075_023E","B25075_022E","B25075_021E","B25075_020E","B25075_019E","B25075_018E","B25075_017E","B25075_016E","B25075_015E","B25075_014E","B25075_013E","B25075_012E","B25075_011E","B25075_010E","B25075_009E","B25075_008E","B25075_007E","B25075_006E","B25075_005E","B25075_004E","B25075_003E","B25075_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
census_pd_value_2013 = pd.DataFrame(census_data_value_2013)

# Column Reordering
census_pd_value_2013 = census_pd_value_2013.rename(columns={"B25075_002E": "House Value less than 10k",
                                                            "B25075_025E": "House Value from 1 million to 1.499 millions",
                                                            "B25075_024E": "House Value from 800k to 999.9k",
                                                            "B25075_023E": "House Value from 500k to 749.9k",
                                                            "B25075_022E": "House Value from 400k to 499.9k",
                                                            "B25075_021E": "House Value from 300k to 399.9k",
                                                            "B25075_020E": "House Value from 250k to 299.9k",
                                                            "B25075_019E": "House Value from 200k to 249.9k",
                                                            "B25075_018E": "House Value from 175k to 199.9k",
                                                            "B25075_017E": "House Value from 150k to 174.9k",
                                                            "B25075_016E": "House Value from 125k to 149.9k",
                                                            "B25075_015E": "House Value from 100k to 124.9k",
                                                            "B25075_014E": "House Value from 90k to 99.9k",
                                                            "B25075_013E": "House Value from 80k to 89.9k",
                                                            "B25075_012E": "House Value from 70k to 79.9k",
                                                            "B25075_011E": "House Value from 60k to 69.9k",
                                                            "B25075_010E": "House Value from 50k to 59.9k",
                                                            "B25075_009E": "House Value from 40k to 49.9k",
                                                            "B25075_008E": "House Value from 35k to 39.9k",
                                                            "B25075_007E": "House Value from 30k to 34.9k",
                                                            "B25075_006E": "House Value from 25k to 29.9k",
                                                            "B25075_005E": "House Value from 20k to 24.9k",
                                                            "B25075_003E": "House Value from 10k to 14.9k",
                                                            "B25075_004E": "House Value from 15k to 19.9k",
                                                            "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_pd_value_2013 = census_pd_value_2013[["Zipcode", 
                                             "House Value less than 10k",
                                             "House Value from 10k to 14.9k", 
                                             "House Value from 15k to 19.9k",
                                             "House Value from 20k to 24.9k",
                                             "House Value from 25k to 29.9k",
                                             "House Value from 30k to 34.9k",
                                             "House Value from 35k to 39.9k",
                                             "House Value from 40k to 49.9k",
                                             "House Value from 50k to 59.9k",
                                             "House Value from 60k to 69.9k",
                                             "House Value from 70k to 79.9k",
                                             "House Value from 80k to 89.9k",
                                             "House Value from 90k to 99.9k",
                                             "House Value from 100k to 124.9k",
                                             "House Value from 125k to 149.9k",
                                             "House Value from 150k to 174.9k",
                                             "House Value from 175k to 199.9k",
                                             "House Value from 200k to 249.9k",
                                             "House Value from 250k to 299.9k",
                                             "House Value from 300k to 399.9k",
                                             "House Value from 400k to 499.9k",
                                             "House Value from 500k to 749.9k",
                                             "House Value from 800k to 999.9k",
                                             "House Value from 1 million to 1.499 millions"]]

# Visualize
print(len(census_pd_value_2013))

# Save to csv
census_pd_value_2013.to_csv('C:\workspace\Resources\HH_HouseValue2013_NN.csv',index=False)
census_pd_value_2013

In [ ]:
# House value year 2012
# Leave    "B25075_026E": "House Value from 1.5 millions to 2 millions",
# Leave  "B25075_027E": "House Value more than 2 millions",
c2012 = Census(api_key_census, year=2012)
census_data_value_2012 = c2012.acs5.get(("NAME","B25075_025E","B25075_024E","B25075_023E","B25075_022E","B25075_021E","B25075_020E","B25075_019E","B25075_018E","B25075_017E","B25075_016E","B25075_015E","B25075_014E","B25075_013E","B25075_012E","B25075_011E","B25075_010E","B25075_009E","B25075_008E","B25075_007E","B25075_006E","B25075_005E","B25075_004E","B25075_003E","B25075_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
census_pd_value_2012 = pd.DataFrame(census_data_value_2012)

# Column Reordering
census_pd_value_2012 = census_pd_value_2012.rename(columns={"B25075_002E": "House Value less than 10k",
                                                            "B25075_025E": "House Value from 1 million to 1.499 millions",
                                                            "B25075_024E": "House Value from 800k to 999.9k",
                                                            "B25075_023E": "House Value from 500k to 749.9k",
                                                            "B25075_022E": "House Value from 400k to 499.9k",
                                                            "B25075_021E": "House Value from 300k to 399.9k",
                                                            "B25075_020E": "House Value from 250k to 299.9k",
                                                            "B25075_019E": "House Value from 200k to 249.9k",
                                                            "B25075_018E": "House Value from 175k to 199.9k",
                                                            "B25075_017E": "House Value from 150k to 174.9k",
                                                            "B25075_016E": "House Value from 125k to 149.9k",
                                                            "B25075_015E": "House Value from 100k to 124.9k",
                                                            "B25075_014E": "House Value from 90k to 99.9k",
                                                            "B25075_013E": "House Value from 80k to 89.9k",
                                                            "B25075_012E": "House Value from 70k to 79.9k",
                                                            "B25075_011E": "House Value from 60k to 69.9k",
                                                            "B25075_010E": "House Value from 50k to 59.9k",
                                                            "B25075_009E": "House Value from 40k to 49.9k",
                                                            "B25075_008E": "House Value from 35k to 39.9k",
                                                            "B25075_007E": "House Value from 30k to 34.9k",
                                                            "B25075_006E": "House Value from 25k to 29.9k",
                                                            "B25075_005E": "House Value from 20k to 24.9k",
                                                            "B25075_003E": "House Value from 10k to 14.9k",
                                                            "B25075_004E": "House Value from 15k to 19.9k",
                                                            "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_pd_value_2012 = census_pd_value_2012[["Zipcode", 
                                             "House Value less than 10k",
                                             "House Value from 10k to 14.9k", 
                                             "House Value from 15k to 19.9k",
                                             "House Value from 20k to 24.9k",
                                             "House Value from 25k to 29.9k",
                                             "House Value from 30k to 34.9k",
                                             "House Value from 35k to 39.9k",
                                             "House Value from 40k to 49.9k",
                                             "House Value from 50k to 59.9k",
                                             "House Value from 60k to 69.9k",
                                             "House Value from 70k to 79.9k",
                                             "House Value from 80k to 89.9k",
                                             "House Value from 90k to 99.9k",
                                             "House Value from 100k to 124.9k",
                                             "House Value from 125k to 149.9k",
                                             "House Value from 150k to 174.9k",
                                             "House Value from 175k to 199.9k",
                                             "House Value from 200k to 249.9k",
                                             "House Value from 250k to 299.9k",
                                             "House Value from 300k to 399.9k",
                                             "House Value from 400k to 499.9k",
                                             "House Value from 500k to 749.9k",
                                             "House Value from 800k to 999.9k",
                                             "House Value from 1 million to 1.499 millions"]]

# Visualize
print(len(census_pd_value_2012))

# Save to csv
census_pd_value_2012.to_csv('C:\workspace\Resources\HH_HouseValue2012_NN.csv',index=False)
census_pd_value_2012

In [ ]:
# House value year 2011
# Leave    "B25075_026E": "House Value from 1.5 millions to 2 millions",
# Leave  "B25075_027E": "House Value more than 2 millions",
c2011 = Census(api_key_census, year=2011)
census_data_value_2011 = c2011.acs5.get(("NAME","B25075_025E","B25075_024E","B25075_023E","B25075_022E","B25075_021E","B25075_020E","B25075_019E","B25075_018E","B25075_017E","B25075_016E","B25075_015E","B25075_014E","B25075_013E","B25075_012E","B25075_011E","B25075_010E","B25075_009E","B25075_008E","B25075_007E","B25075_006E","B25075_005E","B25075_004E","B25075_003E","B25075_002E"), {'for': 'zip code tabulation area:77001,    77002,    77003,    77004,    77005,    77005,    77006,    77007,    77008,    77009,    77010,    77011,    77012,    77013,    77014,    77015,    77016,    77017,    77018,    77019,    77020,    77021,    77022,    77023,    77024,    77025,    77026,    77027,    77028,    77029,    77029,    77030,    77030,    77031,    77032,    77033,    77034,    77035,    77036,    77037,    77038,    77039,    77040,    77040,    77041,    77041,    77042,    77043,    77044,    77045,    77046,    77046,    77047,    77048,    77049,    77050,    77051,    77052,    77054,    77055,    77056,    77057,    77058,    77059,    77060,    77061,    77062,    77063,    77064,    77065,    77065,    77066,    77067,    77068,    77069,    77070,    77071,    77072,    77073,    77074,    77075,    77076,    77077,    77078,    77079,    77080,    77081,    77082,    77083,    77084,    77085,    77086,    77087,    77088,    77089,    77090,    77091,    77092,    77093,    77094,    77095,    77096,    77097,    77098,    77099,    77201,    77202,    77203,    77205,    77206,    77207,    77208,    77210,    77213,    77215,    77217,    77218,    77219,    77220,    77221,    77222,    77223,    77224,    77225,    77226,    77227,    77228,    77229,    77230,    77231,    77233,    77234,    77235,    77236,    77237,    77238,    77240,    77241,    77242,    77243,    77244,    77245,    77248,    77249,    77251,    77252,    77253,    77254,    77255,    77256,    77257,    77258,    77259,    77261,    77262,    77263,    77265,    77266,    77267,    77268,    77269,    77270,    77271,    77272,    77273,    77274,    77275,    77277,    77279,    77280,    77281,    77282,    77284,    77287,    77288,    77289,    77290,    77291,    77292,    77293,    77315,    77325,    77325,    77336,    77337,    77337,    77338,    77339,    77339,    77345,    77345,    77346,    77346,    77346,    77347,    77373,    77375,    77377,    77379,    77379,    77383,    77388,    77389,    77389,    77391,    77396,    77401,    77402,    77410,    77411,    77413,    77429,    77433,    77447,    77449,    77449,    77450,    77450,    77491,    77492,    77493,    77493,    77501,    77502,    77503,    77504,    77505,    77506,    77507,    77508,    77520,    77521,    77522,    77530,    77532,    77532,    77536,    77547,    77562,    77571,    77571,    77572,    77586,    77586,    77586,    77587, 77598'})
census_pd_value_2011 = pd.DataFrame(census_data_value_2011)

# Column Reordering
census_pd_value_2011 = census_pd_value_2011.rename(columns={"B25075_002E": "House Value less than 10k",
                                                            "B25075_025E": "House Value from 1 million to 1.499 millions",
                                                            "B25075_024E": "House Value from 800k to 999.9k",
                                                            "B25075_023E": "House Value from 500k to 749.9k",
                                                            "B25075_022E": "House Value from 400k to 499.9k",
                                                            "B25075_021E": "House Value from 300k to 399.9k",
                                                            "B25075_020E": "House Value from 250k to 299.9k",
                                                            "B25075_019E": "House Value from 200k to 249.9k",
                                                            "B25075_018E": "House Value from 175k to 199.9k",
                                                            "B25075_017E": "House Value from 150k to 174.9k",
                                                            "B25075_016E": "House Value from 125k to 149.9k",
                                                            "B25075_015E": "House Value from 100k to 124.9k",
                                                            "B25075_014E": "House Value from 90k to 99.9k",
                                                            "B25075_013E": "House Value from 80k to 89.9k",
                                                            "B25075_012E": "House Value from 70k to 79.9k",
                                                            "B25075_011E": "House Value from 60k to 69.9k",
                                                            "B25075_010E": "House Value from 50k to 59.9k",
                                                            "B25075_009E": "House Value from 40k to 49.9k",
                                                            "B25075_008E": "House Value from 35k to 39.9k",
                                                            "B25075_007E": "House Value from 30k to 34.9k",
                                                            "B25075_006E": "House Value from 25k to 29.9k",
                                                            "B25075_005E": "House Value from 20k to 24.9k",
                                                            "B25075_003E": "House Value from 10k to 14.9k",
                                                            "B25075_004E": "House Value from 15k to 19.9k",
                                                            "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_pd_value_2011 = census_pd_value_2011[["Zipcode", 
                                             "House Value less than 10k",
                                             "House Value from 10k to 14.9k", 
                                             "House Value from 15k to 19.9k",
                                             "House Value from 20k to 24.9k",
                                             "House Value from 25k to 29.9k",
                                             "House Value from 30k to 34.9k",
                                             "House Value from 35k to 39.9k",
                                             "House Value from 40k to 49.9k",
                                             "House Value from 50k to 59.9k",
                                             "House Value from 60k to 69.9k",
                                             "House Value from 70k to 79.9k",
                                             "House Value from 80k to 89.9k",
                                             "House Value from 90k to 99.9k",
                                             "House Value from 100k to 124.9k",
                                             "House Value from 125k to 149.9k",
                                             "House Value from 150k to 174.9k",
                                             "House Value from 175k to 199.9k",
                                             "House Value from 200k to 249.9k",
                                             "House Value from 250k to 299.9k",
                                             "House Value from 300k to 399.9k",
                                             "House Value from 400k to 499.9k",
                                             "House Value from 500k to 749.9k",
                                             "House Value from 800k to 999.9k",
                                             "House Value from 1 million to 1.499 millions"]]

# Visualize
print(len(census_pd_value_2011))

# Save to csv
census_pd_value_2011.to_csv('C:\workspace\Resources\HH_HouseValue2011_NN.csv',index=False)
census_pd_value_2011